In [2]:
import sys
sys.path.append('/home/jovyan/data/data_CSV')
from extraction import extract_data
from transformation import transform_data
from loading import load_data

file_path = '/home/jovyan/data/data_CSV/online_retail.csv'
db_url = 'postgresql://myuser:01144873329@db:5432/mydatabase' 

data = extract_data(file_path)

print(data.head())

  InvoiceNo StockCode                          Description  Quantity  \
0    536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1    536365     71053                  WHITE METAL LANTERN         6
2    536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3    536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4    536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6

           InvoiceDate  UnitPrice  CustomerID         Country
0  2010-12-01 08:26:00       2.55     17850.0  United Kingdom
1  2010-12-01 08:26:00       3.39     17850.0  United Kingdom
2  2010-12-01 08:26:00       2.75     17850.0  United Kingdom
3  2010-12-01 08:26:00       3.39     17850.0  United Kingdom
4  2010-12-01 08:26:00       3.39     17850.0  United Kingdom

In [8]:
print("Number of not NULL before:\n")
print(data.info())

Number of not NULL before:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  object
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 33.1+ MB
None

In [9]:

data.columns

Index(['InvoiceNo', 'StockCode', 'Description', 'Quantity', 'InvoiceDate',
       'UnitPrice', 'CustomerID', 'Country'],
      dtype='object')

In [10]:
data.describe()

            Quantity      UnitPrice     CustomerID
count  541909.000000  541909.000000  406829.000000
mean        9.552250       4.611114   15287.690570
std       218.081158      96.759853    1713.600303
min    -80995.000000  -11062.060000   12346.000000
25%         1.000000       1.250000   13953.000000
50%         3.000000       2.080000   15152.000000
75%        10.000000       4.130000   16791.000000
max     80995.000000   38970.000000   18287.000000

In [12]:
print("Number of duplicated before:", data.duplicated().sum())

Number of duplicated before: 5268

In [13]:
transformed_data = transform_data(data)

In [14]:
print("Number of not NULL After:\n")
print(data.info())

Number of not NULL After:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 10 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   InvoiceNo         541909 non-null  object
 1   StockCode         541909 non-null  object
 2   Description       540455 non-null  object
 3   Quantity          541909 non-null  int64
 4   InvoiceDate       541909 non-null  datetime64[ns]
 5   UnitPrice         541909 non-null  float64
 6   CustomerID        406829 non-null  float64
 7   Country           541909 non-null  object
 8   InvoiceDate_Date  541909 non-null  object
 9   InvoiceDate_Time  541909 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(6)
memory usage: 41.3+ MB
None

In [16]:
print("Number of duplicated after:", transformed_data.duplicated().sum())

Number of duplicated after: 0

In [9]:
load_data(transformed_data, db_url)

Data successfully loaded into PostgreSQL.

In [11]:
import psycopg2
conn = psycopg2.connect(db_url)
cur = conn.cursor()
cur.execute("SELECT * FROM online_retail LIMIT 5;")
rows = cur.fetchall()
for row in rows:
    print(row)

('536365', '85123A', 'WHITE HANGING HEART T-LIGHT HOLDER', 6, 2.55, 17850.0, 'United Kingdom', datetime.date(2010, 12, 1), datetime.time(8, 26))
('536365', '71053', 'WHITE METAL LANTERN', 6, 3.39, 17850.0, 'United Kingdom', datetime.date(2010, 12, 1), datetime.time(8, 26))
('536365', '84406B', 'CREAM CUPID HEARTS COAT HANGER', 8, 2.75, 17850.0, 'United Kingdom', datetime.date(2010, 12, 1), datetime.time(8, 26))
('536365', '84029G', 'KNITTED UNION FLAG HOT WATER BOTTLE', 6, 3.39, 17850.0, 'United Kingdom', datetime.date(2010, 12, 1), datetime.time(8, 26))
('536365', '84029E', 'RED WOOLLY HOTTIE WHITE HEART.', 6, 3.39, 17850.0, 'United Kingdom', datetime.date(2010, 12, 1), datetime.time(8, 26))